<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Set the log file name and location -->
        <Property name="logFile">logs/app-log</Property>
    </Properties>

    <Appenders>
        <!-- Console appender for logging to the console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level: %msg%n%throwable"/>
        </Console>

        <!-- File appender for logging to a file in the 'logs' directory -->
        <File name="File" fileName="${logFile}.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5level: %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root logger that writes to both console and file -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
